asgiref
attrs
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
Django
django-bootstrap-v5
django-crispy-forms
idna
Jinja2
MarkupSafe
numpy
packaging
pandas
Pillow
psutil
PyMySQL  # Only needed if you use MySQL in the future
python-dateutil
pytz
requests
scipy  # Needed if you do data analysis
setuptools
six
soupsieve
sqlparse
tzdata
Unidecode
urllib3
Werkzeug
